<body>  
<p id="notice"><%= notice %></p>
<p><strong>Title: </strong><%= @book.title %></p>
<p><strong>Body: </strong><%= @book.body %></p>
<a href="/books/<%= @book.id %>/edit">Edit</a>
<span> | </span>
<a href="/books">Back</a>
</body>