.clearfix ::after{
  content: "";
  display: block;
  clear: both;
}

body {
  margin: 33px;
  line-height: 18px;
}

h1 {

}

h2 {
  margin: 16px 0;
}

p {
  margin: 33px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px 5px;
}

label {
  display: block;
}

ul {
  margin: 33px;
}

.field, .actions {
  margin-bottom: 10px;
}



#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  padding: 7px 7px 0 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 2px solid red;
}

#error_explanation h2 {
padding: 5px 5px 5px 15px;
margin: -7px -7px 0 -7px;
background-color: #c00;
color: #fff;
font-size: 12px;
text-align: left;
font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}